[submodule "HT-WPS-Breaker"]
	path = HT-WPS-Breaker
	url = https://github.com/SilentGhostX/HT-WPS-Breaker
[submodule "Wps-Ultimate-Cracker"]
	path = Wps-Ultimate-Cracker
	url = https://github.com/younextvictim/Wps-Ultimate-Cracker
[submodule "penetrator-wps"]
	path = penetrator-wps
	url = https://github.com/xXx-stalin-666-money-xXx/penetrator-wps.git
