[submodule "HT-WPS-Breaker"]
	path = HT-WPS-Breaker
	url = https://github.com/SilentGhostX/HT-WPS-Breaker
[submodule "Wps-Ultimate-Cracker"]
	path = Wps-Ultimate-Cracker
	url = https://github.com/younextvictim/Wps-Ultimate-Cracker
[submodule "penetrator-wps"]
	path = penetrator-wps
	url = https://github.com/xXx-stalin-666-money-xXx/penetrator-wps.git
[submodule "FrankenScript"]
	path = FrankenScript
	url = https://github.com/wi-fi-analyzer/FrankenScript
[submodule "reset-wps"]
	path = reset-wps
	url = https://github.com/wi-fi-analyzer/reset-wps
[submodule "wpspin2"]
	path = wpspin2
	url = https://github.com/wi-fi-analyzer/wpspin
[submodule "reaverscript"]
	path = reaverscript
	url = https://github.com/natas72716/reaverscript
[submodule "SmartReaver"]
	path = SmartReaver
	url = https://github.com/technopwnsauce/SmartReaver
[submodule "Reaver_script"]
	path = Reaver_script
	url = https://github.com/alexsalvetti/Reaver_script
[submodule "reaver_reattempt"]
	path = reaver_reattempt
	url = https://github.com/kurobeats/reaver_reattempt
[submodule "Reaver-Wrapper"]
	path = Reaver-Wrapper
	url = https://github.com/eye9poob/Reaver-Wrapper
[submodule "auto-reaver"]
	path = auto-reaver
	url = https://github.com/DominikStyp/auto-reaver
[submodule "reaver-wps-fork-t6x"]
	path = reaver-wps-fork-t6x
	url = https://github.com/t6x/reaver-wps-fork-t6x
[submodule "pixiewps"]
	path = pixiewps
	url = https://github.com/wiire/pixiewps
[submodule "reaver-wps-mac-changer"]
	path = reaver-wps-mac-changer
	url = https://github.com/gabrielrcouto/reaver-wps
[submodule "wps_guesser"]
	path = wps_guesser
	url = https://github.com/Nurdilin/wps_guesser
[submodule "pyxiewps_WPShack-Python"]
	path = pyxiewps_WPShack-Python
	url = https://github.com/jgilhutton/pyxiewps_WPShack-Python
[submodule "wifiAutoWPS"]
	path = wifiAutoWPS
	url = https://github.com/arnaucode/wifiAutoWPS
[submodule "wps-dict"]
	path = wps-dict
	url = https://github.com/luskaner/wps-dict
[submodule "WPS-Pins"]
	path = WPS-Pins
	url = https://github.com/uciha-ayush/WPS-Pins
[submodule "AutoPixieWps"]
	path = AutoPixieWps
	url = https://github.com/nxxxu/AutoPixieWps
[submodule "WPSmash"]
	path = WPSmash
	url = https://github.com/DanMcInerney/WPSmash
[submodule "bully"]
	path = bully
	url = https://github.com/aanarchyy/bully
[submodule "Varmascan-reaver"]
	path = Varmascan-reaver
	url = https://github.com/L33T-H4X0R-D00D/Varmascan-reaver
[submodule "WPSPinGenerator-GUI"]
	path = WPSPinGenerator-GUI
	url = https://github.com/SergiObiols/WPSPinGenerator-GUI
[submodule "wpspinattacker"]
	path = wpspinattacker
	url = https://github.com/lawrenceamer/wpspinattacker
[submodule "wpscracker"]
	path = wpscracker
	url = https://github.com/MrHassan1/wpscracker
[submodule "wpscrack"]
	path = wpscrack
	url = https://github.com/ml31415/wpscrack
[submodule "WPS-SLAUGHTER"]
	path = WPS-SLAUGHTER
	url = https://github.com/ApatheticEuphoria/WPS-SLAUGHTER
[submodule "wps"]
	path = wps
	url = https://github.com/lanyuan27/wps
[submodule "pyReaver"]
	path = pyReaver
	url = https://github.com/byt3bl33d3r/pyReaver
[submodule "varmacscan"]
	path = varmacscan
	url = https://github.com/musket33/varmacscan
[submodule "wps-pwn"]
	path = wps-pwn
	url = https://github.com/technopwnsauce/wps-pwn
[submodule "VMR-MDK-Kali2-Kali2016"]
	path = VMR-MDK-Kali2-Kali2016
	url = https://github.com/musket33/VMR-MDK-Kali2-Kali2016
[submodule "wifitick"]
	path = wifitick
	url = https://github.com/nu11secur1ty/wifitick.git
[submodule "ReaverAutoIt"]
	path = ReaverAutoIt
	url = https://github.com/Elycin/ReaverAutoIt
[submodule "reaver-webui"]
	path = reaver-webui
	url = https://github.com/fopina/reaver-webui
[submodule "greaver"]
	path = greaver
	url = https://github.com/sigginet/greaver
[submodule "Pwnstar9-0-for-Kali-2016R1-2"]
	path = Pwnstar9-0-for-Kali-2016R1-2
	url = https://github.com/musket33/Pwnstar9-0-for-Kali-2016R1-2
[submodule "AutoReaver"]
	path = AutoReaver
	url = https://github.com/diegoesqui/AutoReaver
